---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Discur</title>
  </head>
  <body>
    <p>Discur</p>
  </body>
</html>
